<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="This is the dashboard page.">
    <meta name="referrer" content="no-referrer">

    <!-- link to CSS -->
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Abhaya+Libre:wght@800&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Baloo' rel='stylesheet'>

    <!-- jQuery CSS/Js -->
    <script src="../static/js/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


    <!-- Fontawesome for Icons -->
    <script src="https://kit.fontawesome.com/dc513c88af.js" crossorigin="anonymous"></script>

    <!--Google Charts-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="../static/js/dashboard.js"></script>
    <title>STORYTELLING</title>
</head>

<body>
    <div class='BackGround'>
        <div class='TopBar'>
            <img id='TopIcon' src='../static/files/imgs/Icon.png' />
            <button class='TopContent' onclick="window.location.href='./library'">Library</button>
            <button class='TopContent' onclick="window.location.href='./dashboard'">Dashboard</button>
            <button class='TopContent' onclick="window.location.href='./customize'">Customize My Storybook</button>
            <img id='userIcon' src='../static/files/imgs/user1Icon.jpg'></img>
            <div id='Profile'>{{username}}</div>
        </div>
        <div id='statBlock'>
            <div id="leftStat">
                <div id="dashTitle">
                    <img id="dashIcon" src="../static/files/imgs/dashboard.png">
                    Dashboard
                </div>
                <div id="nowReading">
                </div>
                <div id="bookData">
                    Science Knowledge Learning Records
                    <div id="statTable"></div>
                </div>
            </div>
            <div id="rightStat">
                <div id="recordStat">
                    <div id="todayStat">
                        <div class="subStat">
                            <img class="recordIcon" src="../static/files/imgs/todayRead.png">
                            <div class="recordTitle">
                                <p1>Today read</p1>
                                <br>
                                <p2 id="todayRead"></p2>
                                <p3>books</p3>
                            </div>
                        </div>
                        <div class="subStat">
                            <img class="recordIcon" src="../static/files/imgs/todayTime.png">
                            <div class="recordTitle">
                                <p1>Today spent</p1>
                                <br>
                                <p2 id="todayTime"></p2>
                                <p3>minutes</p3>
                            </div>
                        </div>
                    </div>
                    <div id="totalStat">
                        <div class="subStat">
                            <img class="recordIcon" src="../static/files/imgs/totalRead.png">
                            <div class="recordTitle">
                                <p1>Total read</p1>
                                <br>
                                <p2 id="totalRead"></p2>
                                <p3>books</p3>
                            </div>
                        </div>
                        <div class="subStat">
                            <img class="recordIcon" src="../static/files/imgs/totalTime.png">
                            <div class="recordTitle">
                                <p1>Total spent</p1>
                                <br>
                                <p2 id="totalTime"></p2>
                                <p3>minutes</p3>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="scienceStat">
                    Science Knowledge Learning Statistics
                    <div id="charts">
                        <div id="pieChart"></div>
                        <div id="barChart"></div>
                        <div id="weekStat">
                            Weekly Reading Time
                            <div id="columnChart">
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/dashboard.js"></script>
</body>

</html>